saaj/src/main/resources/saaj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="saaj"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:saaj="urn:saaj:att"
	xmlns:elm="urn:saaj:xsd" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema"

	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/">

	<wsdl:documentation>Version 1.2</wsdl:documentation>

	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="request">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="username" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="requestMsg">
		<wsdl:part name="parametersIn" element="tns:request" />
	</wsdl:message>
	<wsdl:message name="responseMsg">
		<wsdl:part name="parametersOut" element="tns:response" />
	</wsdl:message>


	<wsdl:portType name="AttachServiceSoap">
		<wsdl:operation name="SendAttachment">
			<wsdl:input message="tns:requestMsg" />
			<wsdl:output message="tns:responseMsg" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AttachServiceSoap" type="tns:AttachServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendAttachment">
			<soap:operation soapAction="http://tempuri.org/AttachService" style="document" />
			<wsdl:input>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="literal" parts="parametersIn" />
						<!-- use="encoded" namespace="http://mynamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding" 
							/> -->
					</mime:part>
					<mime:part>
						<mime:content part="attach" type="text/plain" />
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>

			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AttachService">
		<wsdl:port name="AttachServiceSoap" binding="tns:AttachServiceSoap">
			<soap:address location="http://localhost:9090/attachment" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>



